name: Build portable Linux executable

on:
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Download AppImage Builder
      run: wget -O appimage-builder-x86_64.AppImage https://github.com/AppImageCrafters/appimage-builder/releases/download/v1.1.0/appimage-builder-1.1.0-x86_64.AppImage

    - name: Make AppImage Builder Executable
      run: chmod +x appimage-builder-x86_64.AppImage

    - name: Install dependencies
      run: sudo apt-get install -y libfuse2 libcurl4-openssl-dev zlib1g-dev libpng-dev libogg-dev libvorbis-dev libopus-dev libvpx-dev libyuv-dev libsdl2-dev ninja-build

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Configure Ninja Preset
      run: cmake --preset ninja-release

    - name: Build Executable
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} --preset ninja-release

    - name: Build AppImage
      run: ./appimage-builder-x86_64.AppImage --recipe AppImageBuilder.yml

    - name: Export File
      uses: actions/upload-artifact@v4
      with:
        name: Ring Racers.AppImage
        path: Ring Racers-latest-x86_64.AppImage
        if-no-files-found: error
        retention-days: 1
        compression-level: 1
        overwrite: true
