name: Build portable Linux executable

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Download Linux Deploy
      run: |
        wget -O linuxdeploy-x86_64.AppImage https://github.com/linuxdeploy/linuxdeploy/releases/download/1-alpha-20250213-2/linuxdeploy-x86_64.AppImage
        chmod +x linuxdeploy-x86_64.AppImage

    - name: Install dependencies
      run: sudo apt-get install -y libfuse2 libcurl4-openssl-dev zlib1g-dev libpng-dev libogg-dev libvorbis-dev libopus-dev libvpx-dev libyuv-dev libsdl2-dev ninja-build

    - name: Configure CMake
      run: cmake --preset ninja-release

    - name: Build Executable
      run: cmake --build --preset ninja-release

#    - name: Install Executable to AppDir
#      run: cmake --install build/ninja-release --prefix ./AppDir/usr/

    - name: Build AppImage
      run: |
        mv srb2.png org.kartkrew.RingRacers.png
        ./linuxdeploy-x86_64.AppImage \
          --appdir AppDir \
          --executable build/ninja-release/bin/ringracers_main \
          --icon-file org.kartkrew.RingRacers.png \
          --desktop-file .github/workflows/RingRacers.desktop \
          --output appimage

    - name: Export File
      uses: actions/upload-artifact@v4
      with:
        name: Ring Racers.AppImage
        path: Ring_Racers-x86_64.AppImage
        if-no-files-found: error
        retention-days: 1
        compression-level: 1
        overwrite: true
